.footer {
  background-color: #3c3c3c;
  padding: 45px 0px;
  position: relative;
  z-index: 5;
}
.footer__body {
  text-align: center;
}
.footer__logo {
  display: inline-block;
  margin: 0px 0px 40px 0px;
}
.footer__menu {
  text-align: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 35px 0px;
}
.footer__list li {
  margin: 0px 15px;
}
.footer__link {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}
.footer__link:hover {
  color: #fff;
}
.footer__text {
  color: #6c6c6c;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
}