@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "MyriadPro";
  src: url("/fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("/fonts/MyriadPro-Regular.woff") format("woff"), url("/fonts/MyriadPro-Regular.ttf") format("truetype"), url("/fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 768.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.binary {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container1 {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1112px) {
  .container1 {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container1 {
    max-width: 750px;
  }
}
@media (max-width: 768.98px) {
  .container1 {
    max-width: 620px;
    padding: 0 10px;
  }
}
@media (max-width: 479.98px) {
  .container1 {
    max-width: none;
    padding: 0 10px;
  }
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight 0.4s ease-out;
          animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft 0.4s ease-out;
          animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
  right: 2%;
}
.baguetteBox-button#previous-button {
  left: 2%;
}
.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.footer {
  background-color: #3c3c3c;
  padding: 45px 0px;
  position: relative;
  z-index: 5;
}
.footer__body {
  text-align: center;
}
.footer__logo {
  display: inline-block;
  margin: 0px 0px 40px 0px;
}
.footer__menu {
  text-align: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 35px 0px;
}
.footer__list li {
  margin: 0px 15px;
}
.footer__link {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}
.footer__link:hover {
  color: #fff;
}
.footer__text {
  color: #6c6c6c;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
}

body {
  font-family: "Lato";
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 0px;
}
@media screen and (max-width: 768.98px), screen and (max-height: 600px) {
  .mainblock {
    padding: 20px 0px;
  }
}
.mainblock__content {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mainblock__content .container1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainblock__text {
  color: #ffffff;
  position: relative;
  padding: 0px 0px 45px 0px;
  margin: 30px 0px;
}
.mainblock__text:after {
  content: "";
  position: absolute;
  width: 105px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: #fff;
  margin: 0px 0px 0px -52.5px;
}
.mainblock__title {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5.43px;
  margin: 0px 0px 10px 0px;
}
@media screen and (max-width: 768.98px), screen and (max-height: 600px) {
  .mainblock__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.mainblock__subtitle {
  font-size: 26px;
  letter-spacing: 4.15px;
}
.mainblock__footer {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainblock__btn {
  margin: 0px 0px 60px 0px;
}
@media screen and (max-width: 768.98px), screen and (max-height: 600px) {
  .mainblock__btn {
    margin: 0px 0px 30px 0px;
  }
}
.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}
@keyframes arrow {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes arrow {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
.mainblock__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ibg {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.menu {
  padding: 22px 0px;
  border-bottom: 1px solid #fafafa;
}
@media (max-width: 992.98px) {
  .menu_md {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 768.98px) {
  .menu_md {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 479.98px) {
  .menu {
    padding: 22px 0px 12px 0px;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list li {
  margin: 0px 25px;
}
@media (max-width: 768.98px) {
  .menu__list li {
    margin: 0px 15px 10px 15px;
  }
}
@media (max-width: 768.98px) {
  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 479.98px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.menu__link {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu__link:hover {
  color: #ada074;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link_act {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}
@media (max-width: 768.98px) {
  .about {
    padding: 0px 0px 10px 0px;
  }
}
.about__header-block {
  margin: 0px 0px 65px 0px;
}
@media (max-width: 768.98px) {
  .about__header-block {
    margin: 0px 0px 30px 0px;
  }
}
.about__body {
  text-align: center;
  max-width: 900px;
  margin: 0px auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
@media (max-width: 768.98px) {
  .about__row {
    display: block;
  }
}
.about__column {
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}
.about__item {
  text-align: center;
  max-width: 260px;
}
@media (max-width: 768.98px) {
  .about__item {
    max-width: none;
  }
}
.about__icon {
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  width: 92px;
  height: 92px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}
.about__icon_l img {
  position: relative;
  left: 5px;
}
@media (max-width: 768.98px) {
  .about__icon {
    margin: 0px 0px 15px 0px;
  }
}
.about__title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 33px 0px;
}
@media (max-width: 992.98px) {
  .about__title {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 768.98px) {
  .about__title {
    margin: 0px 0px 15px 0px;
  }
}
.about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 105px 0px 60px 0px;
}
@media (max-width: 992.98px) {
  .portfolio {
    padding: 50px 0px 40px 0px;
  }
}
.portfolio__header-block {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 992.98px) {
  .portfolio__header-block {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 768.98px) {
  .portfolio__header-block {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio__filter {
  margin: 0px 0px 135px 0px;
}
@media (max-width: 992.98px) {
  .portfolio__filter {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 768.98px) {
  .portfolio__filter {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 479.98px) {
  .portfolio__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
    max-width: 100%;
  }
}
.portfolio__item img {
  max-width: 100%;
  min-height: 100%;
}
.portfolio__footer {
  text-align: center;
  padding: 35px 0px 0px 0px;
}
@media (max-width: 768.98px) {
  .portfolio__footer {
    padding: 15px 0px 0px 0px;
  }
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__item {
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 25px;
  cursor: pointer;
}
.filter__item.active {
  color: #ada074;
}
@media (max-width: 768.98px) {
  .filter__item {
    margin: 0px 15px;
  }
}

.partners {
  background: url("/img/BG-Header.png") center/cover no-repeat;
  padding: 100px 0px 70px 0px;
}
.partners__title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px 90px 0px;
  text-align: center;
}
.partners__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.partners__column {
  padding: 0px 50px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 768.98px) {
  .partners__column {
    margin: 0px 30px;
  }
}

.contacts {
  padding: 180px 0px 80px 0px;
}
@media (max-width: 992.98px) {
  .contacts {
    padding: 80px 0px 50px 0px;
  }
}
@media (max-width: 768.98px) {
  .contacts {
    padding: 30px 0px 30px 0px;
  }
}
.contacts__header-block {
  margin: 0px 0px 120px 0px;
}
@media (max-width: 992.98px) {
  .contacts__header-block {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 768.98px) {
  .contacts__header-block {
    margin: 0px 0px 30px 0px;
  }
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -25px;
}
@media (max-width: 768.98px) {
  .contacts__body {
    display: block;
  }
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 25px;
}
.contacts__form {
  text-align: right;
}
@media (max-width: 768.98px) {
  .contacts__form {
    text-align: left;
    margin: 0px 0px 30px 0px;
  }
}
.contacts__content {
  max-width: 260px;
}
@media (max-width: 768.98px) {
  .contacts__content {
    max-width: none;
  }
}
.contacts__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  margin: 0px 0px 35px 0px;
}
.contacts__name {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}
.contacts__email {
  font-size: 14px;
}
.contacts__email a {
  font-weight: 700;
  color: #000;
}
.contacts__email a:hover {
  text-decoration: underline;
}

.form-contacts__body {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}
@media (max-width: 768.98px) {
  .form-contacts__body {
    max-width: none;
    display: block;
  }
}
.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px 70px -15px;
}
@media (max-width: 768.98px) {
  .form-contacts__row {
    margin: 0px -15px 30px -15px;
  }
}
@media (max-width: 479.98px) {
  .form-contacts__row {
    display: block;
  }
}
.form-contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}
@media (max-width: 479.98px) {
  .form-contacts__column:first-child {
    margin: 0px 0px 30px 0px;
  }
}
.form-contacts__label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  text-align: left;
  margin: 0px 0px 10px 0px;
}
.form-contacts__btn.btn {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 768.98px) {
  .form-contacts__btn.btn {
    display: block;
    width: 100%;
  }
}

.social {
  margin: 0px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.social__item {
  margin: 0px 15px 0px 0px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form_column {
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
  height: 47px;
  padding: 0px 42px;
  line-height: 44px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}
.btn_w::after {
  background-color: #fff;
}
.btn_b {
  color: #000;
  border: 1px solid #000;
}
.btn_b::after {
  background-color: #000;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:hover.btn_w {
  color: black;
}
.btn:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.btn:hover.btn_b {
  color: #fff;
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select-label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #fff;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1 solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background: url("/img/icon/Arrow.png") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0px 45px 0px 25px;
  white-space: nowrap;
  text-transform: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1 solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  min-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  position: relative;
  height: 50px;
  border-radius: 0 !important;
  font-size: 15px;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border-top: 1px solid #000;
  background-color: #f8f7f7;
}
.input:focus {
  border-top: 1px solid blue;
}
.input.err {
  border-top: 1px solid red;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check::before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check:active::before {
  background: url(/img/icon/check.png) center no-repeat;
}

.header-block {
  text-align: center;
}
.header-block__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  padding: 0px 0px 30px 0px;
}
.header-block__title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -40.5px;
}
.header-block__subtitle {
  padding: 30px 0px 0px 0px;
  color: #868585;
  font-size: 14px;
  line-height: 25.89px;
  font-weight: 300;
  max-width: 700px;
  margin: 0px auto;
}