.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.header-block__title::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -40.5px;
}

.header-block__subtitle {
  padding: 30px 0px 0px 0px;
  color: #868585;
  font-size: 14px;
  line-height: 25.89px;
  font-weight: 300;
  max-width: 700px;
  margin: 0px auto;
}
