//<МИКСИНЫ>=======================================================================================================
@mixin anim($time,$delay) {-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time,$delay) {-webkit-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg) {-webkit-transform: rotate($deg);-moz-transform: rotate($deg);-ms-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num) {-webkit-transform: scale($num);-moz-transform: scale($num);-ms-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num) {-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h) {display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z) {transform: translate3d($x,$y,$z);}
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexboxinline() {display: -webkit-inline-flex;display: -moz-inline-flex;display: -ms-inline-flex;display: -o-inline-flex;display: inline-flex;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>=======================================================================================================


//<FORMS>============================================================================================
.form{}
.form-row{@include flexbox(); margin: 0px -15px;}
.form_column{padding: 0 15px;}
.form-input{}
.form-button{}
//</FORMS>===========================================================================================

//<BUTTONS>==========================================================================================
.btn {
   display: inline-block;
   padding: 0px 0px;
   height: 47px;
   padding: 0px 42px;
   line-height: 44px;
   background-color: transparent;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 0.67px;
   position: relative;
   &::after{
      content: '';
      position: absolute; width: 100%;height: 100%;top: 0;left: 0;
      @include scale(0);
      @include anim(0.8s,0s);
   }
   &_w {
      color: #fff;
      border: 1px solid #fff;
      &::after{background-color: #fff;}
   }
   &_b {
      color: #000;
      border: 1px solid #000;
      &::after{background-color: #000;}
   }
   span{
      position: relative;
      z-index: 1;
   }
   &:hover{
      &.btn_w{color: black;}
      &::after{@include scale(1);}
      &.btn_b{color: #fff;}
   }
   &.fw{width: 100%;}
}
//</BUTTONS>=========================================================================================

//<SELECT>===========================================================================================
.select-block{position: relative;}
.select-label{z-index: 2;position: absolute;top: -8px;background-color: #fff;color: #979797;font-weight: 600;font-size: 13px;line-height: 16px;}
.select{position: relative;cursor: pointer;
   .select-title{z-index: 1;width: 100%;
      height: 55px;
      border: 1 solid #dedede;
      position: relative;
      background-color: #fff;
   }
   .select-title__arrow{position: absolute;top: 0;
      right: 0;width: 45px;height: 100%;
      background: url('/img/icon/Arrow.png') center no-repeat;
   }
   .select-title__value{
      color: #000;
      font-weight: 700;
      font-size: 18px;line-height: 53px;
      display: block;overflow: hidden;
      padding: 0px 45px 0px 25px; white-space: nowrap;text-transform: none; text-overflow: ellipsis;
   }
   .select-options{
      position: absolute; z-index: 10;
      top: 54px; display: none; overflow: hidden;
      min-width: 100%;
      background-color: #fff;
      border: 1 solid #dedede;
      padding: 10px 20px 10px 25px;
   }
   .select-options-scroll{min-height: 80px; overflow: auto;}
   .select-options-list{padding: 0px 0px 0px 0px;}
   .select-options__value{color: #000;
      font-size: 20px;
      margin: 0px 0px 15px 0px;
      &:last-child{margin: 0px 0px 0px 0px;}
      &:hover{color: #000;}
   }
}
//</SELECT>==========================================================================================

//<INPUT>============================================================================================
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
.input{
   position: relative;
   height: 50px;
   border-radius: 0 !important;
   font-size: 15px;
   width: 100%;
   display: block;
   padding: 0px 20px;
   border-top: 1px solid #000;
   background-color: #f8f7f7;
   &:focus{
      border-top: 1px solid blue; //при вводе данных в поле, border - синий
   }
   &.err{
      border-top: 1px solid red; //если не вводить в поле данные и отправить (ошибка), border - красный
   }
}
textarea.input{
   resize: none;
   height: 117px;
   padding: 10px 20px;
}
//</INPUT>===========================================================================================

//<CHECK>===========================================================================================
.check{position: relative;padding-left: 25px;color: #5f5f5f;line-height: 18px; cursor: pointer;
   input{display: none;}
   &::before{content: '';
      left: 0;
      top: 0;
      width: 18px;height: 18px;
      border: 1px solid #a3a3a3;
      position: absolute;
   }
   &:active{
      &::before{background: url(/img/icon/check.png) center no-repeat;}
   }
}
//</CHECK>===========================================================================================